<h1>{{h1}}</h1>
<form action="{{action}}" method="POST">
  
  <label for="email">Email</label>
  <input type="text" name="email" id="email" value="" />
  <label for="password">Password</label>
  <input type="password" name="password" id="password" value="" />
  <br /><br />
  <input type="submit" id="submit" value="Login" />
</form>